apiVersion: v1
kind: Service
metadata:
  name: student-service
  namespace: student-operator-system
spec:
   ports:     
   - port: 5000
     targertPort: 5000
     name: mysql
   selector:
     app: student
   type: NodePort
